{
    -bordered-background: -fx-background;
}

.bordered-titled-title {
    -fx-translate-x: 8;
    -fx-translate-y: -10;
    -fx-padding: 0 0 0 4;
    -fx-background-color: -bordered-background;
    -fx-text-fill: -sharV-highlight;
}

.bordered-titled-border {
    -fx-content-display: top;
    -fx-border-insets: 2 0 0 0;
    -fx-border-color: -sharV-highlight;
    -fx-border-width: 2;
}

.bordered-titled-content {
    -fx-padding: 18 5 5 5;
}
